.detailed-info {
	flex: 1 1 60%;
	
}

.detailed-info-content {
	color: #191919;
	border-bottom: 1px solid lightgrey;
	background: #fff;
	padding: 12px 12px 4px;
	height: calc(100% - 85px);
	box-sizing: border-box;
}
